# STT + VAD
faster-whisper
silero-vad
numpy
scipy
torch

# LLM + env
google-generativeai
python-dotenv

# TTS
piper-tts

# ARI controller + PDF
requests
websockets
weasyprint

#MOM generator
sarvamai

#PDF generator
markdown
